<article class="blog">
    <div>
    {{title}}
    |
    {{blog_text}}
    </div>
    <div>
       Created by: {{user.username}} on {{format_date created_at}}
        |
        <a href="/blog/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>