<article class="blog">
    <div>
    {{title}}
    {{blog_text}}
    </div>
    <div>
        <a href="/blog/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>