<article class="blog">
  <div class="title">
    {{title}}
    |
    {{blog_text}}
  </div>
  <div class="created">
    Blogged by:
    {{user.username}}
    on
    {{format_date created_at}}
    |
    <a href="/blog/{{id}}">
      {{comments.length}}
      {{format_plural "Comment" comments.length}}
    </a>
  </div>
</article>